<mat-toolbar color="primary">
  <span>Students</span>
  <span class="toolbar-spacer"></span>
  <button mat-raised-button (click)="openAddDialog()">
    <span class="btn-icon-text"><mat-icon>add</mat-icon>Add Student</span>
  </button>
</mat-toolbar>

<div class="page-container">

  <mat-form-field appearance="outline" class="search-field" subscriptSizing="dynamic">
    <mat-icon matPrefix>search</mat-icon>
    <input matInput [formControl]="searchControl" placeholder="Search by name, email or student ID...">
  </mat-form-field>

  @if (loading()) {
    <div class="loading-container">
      <mat-spinner diameter="48" />
    </div>
  } @else {
    <div class="table-container">
      <table mat-table [dataSource]="dataSource">

        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef>Name</th>
          <td mat-cell *matCellDef="let s">
            <a class="name-cell" [routerLink]="['/students', s.id]">
              <div class="avatar-initials">{{ s.firstName[0] }}{{ s.lastName[0] }}</div>
              <div class="name-text">
                <span class="name-primary">{{ s.firstName }} {{ s.lastName }}</span>
              </div>
            </a>
          </td>
        </ng-container>

        <ng-container matColumnDef="email">
          <th mat-header-cell *matHeaderCellDef>Email</th>
          <td mat-cell *matCellDef="let s">{{ s.email }}</td>
        </ng-container>

        <ng-container matColumnDef="grade">
          <th mat-header-cell *matHeaderCellDef>Grade</th>
          <td mat-cell *matCellDef="let s"><span class="grade-badge">{{ s.grade }}</span></td>
        </ng-container>

        <ng-container matColumnDef="enrolledAt">
          <th mat-header-cell *matHeaderCellDef>Enrolled Date</th>
          <td mat-cell *matCellDef="let s">{{ s.enrolledAt | date:'MMM d, y' }}</td>
        </ng-container>

        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let s" class="mat-column-actions">
            <button mat-icon-button (click)="openEditDialog(s)" title="Edit">
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button color="warn" (click)="confirmDelete(s)" title="Delete">
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

        <tr class="mat-mdc-no-data-row" *matNoDataRow>
          <td [attr.colspan]="displayedColumns.length" class="no-data-cell">
            @if (searchControl.value) {
              No students match your search.
            } @else {
              No students found. Click "Add Student" to get started.
            }
          </td>
        </tr>

      </table>

      <mat-paginator
        [class.paginator-hidden]="dataSource.data.length <= 10"
        [pageSize]="10"
        [pageSizeOptions]="[10, 25, 50]"
        showFirstLastButtons>
      </mat-paginator>
    </div>
  }

</div>
